* {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 1em;
    padding: 0;
}

*:focus {
    outline-style: none;
}

body {
    z-index: -100;
}


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes transit-in-out {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expand {
    0% {border-bottom-width: 1px}
    100% {border-bottom-width: 10px}
}

/*Navigation Bar*/

nav > ul {
    width: 1903px;
    float: right;
    margin: 0 0 3em 0;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #3366FF;
    border-top: 0px solid blue;
    position: absolute;
    z-index: 0;
}


nav > ul > li {
    float: left;
}

nav > ul > li > a {
    text-decoration: none;
    display:block;
    padding: 4px 161.2px;
    color: lightgrey;
    transition: 0.3s ease;
}

nav > ul> li > a:hover {
    background-color: #3366FF;
    color: white;
}

.navbar > .nav > .nav-item-dropdown > .dropdown-container {
    display: none;
}

nav > ul > li > ul > a:hover {
    display: block;
}

/*Landing Page*/

#landing-page {
    background: url(../img/space12.jpg);
    background-repeat: no-repeat;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -100;
}

/*Inner Landing Page*/

.logo {
    text-decoration: none;
    border: 0;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    top: 40px;
    left: 8px;
    position: absolute;
    background: url(../img/euca.png);
    color: rgba(225,225,225,0);
    background-repeat: no-repeat;
    border: double 8.8px #3366FF;
    animation-name: fade;
    animation-duration: 5s;
    border-radius: 20%;
    border-right: none;
    border-left: none;
    z-index: 0;
}

.logo > a {
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
}

.inner-page {
    color: ghostwhite;
    position: absolute;
    right: 665px;
    bottom: 450px;
    font-size: 100px;
    transition-delay: 1s;
    animation-name: transit-in-out;
    animation-duration: 5s;
    z-index: 0;
    letter-spacing: 20px;
    font-style: italic;
    padding: 9px;
    cursor:default;
    border-radius: 20%;
    border: double 20.8px #3366FF;
    border-left: 4px #3366FF;
    border-right: none;
}

/*Section One*/

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.section1{
    width: 1903px;
    height: 655px;
    position: absolute;
    background-color: midnightblue;
    padding: 0;
    top: 979px;
    border-top-right-radius: 1100px 90px;
    border-top-left-radius: 1100px 90px;
    border-bottom-left-radius: 1100px 90px;
    border-bottom-right-radius: 1100px 90px;
    border-top: double 8px #3366FF;
    border-bottom: double 8px #3366FF;
    z-index: 1;
}

.section-inner1 {
    background-color: rgba(110,110,110,0.69);
    height: 885px;
    width: 1903px;
    position: absolute;
    padding: 0;
    top: 1344px;
    z-index: 0;
}

/*rgba(11,89,399,.69)*/

.content-inner1 > h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    width: 400px;
    height: 100px;
    position: absolute; 
}

/*Section Two*/

.section2 {
    background-color: midnightblue;
    height: 655px;
    width: 1903px;
    position: absolute;
    padding: 0;
    top: 1989px;
    border-bottom-left-radius: 1100px 90px;
    border-bottom-right-radius: 1100px 90px;
    border-top-left-radius: 1100px 90px;
    border-top-right-radius: 1100px 90px;
    border-top: double 8px #3366FF;
    border-bottom: double 8px #3366FF;
    z-index: 1;
}

.section-inner2 {
    background-color: rgba(110,110,110,0.69);
    height: 1210px;
    width: 1903px;
    position: absolute;
    padding: 0;
    top: 2444px;
    z-index: 0;
}

/*Section Three*/

.section3 {
    background-color: midnightblue;
    height: 655px;
    width: 1903px;
    position: absolute;
    padding: 0;
    top: 2999px;
    border-bottom-left-radius: 1100px 90px;
    border-bottom-right-radius: 1100px 90px;
    border-top-left-radius: 1100px 90px;
    border-top-right-radius: 1100px 90px;
    border-top: double 8px #3366FF;
    border-bottom: double 8px #3366FF;
    z-index: 1;
}

/*Footer*/

footer {
    background-color: rgba(110,110,110,0.69);
    height: 355px;
    width: 1903px;;
    position: absolute;
    padding: 0;
    top: 3654px;
    z-index: 0;
}

.footer-background {
    position: absolute;
    background-color: midnightblue;;
    height: 103px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 250px;
    z-index: 0;
}

 form {
    position: absolute;
    left: 760px;
    height: 33px;
    top: 97px;
    border: 10px solid midnightblue;
     z-index: 1;
    
    
}

footer > form > input:focus{
    outline-style: none;
}

input, textarea {
    display:inline-block;
    text-shadow: none;
    width: 301px;
    height: 33px;
    font-size: 26px;
    border:none;
    padding: 0;
    margin: 0;
    background-color: #909090;
    border-right: solid midnightblue 9px;
}

input:focus {
    outline-style: none;
    background-color: white;
}

footer > form > button {
    position:relative;
    width: 100px;
    height: 32.6px;
    bottom: 3px;
    background: dimgrey;
    color: black;
    border: none;
    bottom: 4px;
    font-weight: bold;
    transition: 0.2s ease;
    cursor: pointer;
}


footer > form > button:active {
    border: none;
    color: dimgrey;
    background-color: black;
    transition: 0.2s ease;
}

.divider1 {
    position: relative;
    color: #212121;
    top: 150px;
    width: 1750px;
    left: 70px;
    border: solid;
}

.behance {
    background: url(../img/behance13.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #555555;
    transition: 0.3s ease;
}

.twitter {
    background: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    left: 100px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #555555;
    transition: 0.3s ease;
}

.facebook {
    background: url(../img/facebook2.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    width: 60px;
    height: 60px;
    left: 200px;
    bottom: 60px;
    border-radius: 100%;
    background-color: #555555;
    transition: 0.3s ease;
}

.instagram {
    background: url(../img/instagram19.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    width: 60px;
    height: 60px;
    left: 300px;
    bottom: 120px;
    border-radius: 100%;
    background-color: #555555;
    transition: 0.3s ease;
}

footer > ul> li {
    list-style: none;
}

footer > ul {
    position: relative;
    height: 60px;
    width: 400px;
    left: 757px;
    top: 270px;
}

.instagram:hover,.facebook:hover, .twitter:hover, .behance:hover {
    
    background-color: grey;
    border-radius: 100%;
    border: 0;
    
}

footer > ul > li > a {
    display: block;
    width: 60px;
    height: 60px;
}

.instagram:active, .facebook:active, .twitter:active, .behance:active {
    background-color: darkgray;
}

.copyright {
    position: relative;
    top: 231px;
    width: 340px;
    left: 10px;
    font-weight: bold;
    color: grey;
    cursor: default;
}

.footer-footer {
    position: relative;
    top: 213px;
    float: right;
    right: 40px;
    letter-spacing: 2px;
}

.footer-footer > a {
    position: relative;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    height: 19.9px;
}

.footer-footer > a:visited {
    color: none;   
}

.footer-footer > a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #909090;
    content: "";
    transition: width 0.3s ease;
}

.footer-footer > a:hover {
    color: grey;
    width: inherit;
}

.footer-footer > a:hover:after {
    width: 100%;
}

.divider2 {
    position: relative;
    top: 190px;
    border: 3px solid #555555;
}